<li class="list-group-item" id="message-<%= message.id %>">
	<div class="media">
		<div class="media-left">
			<% if message.user.avatar.present? %>
				<%= cl_image_tag("sofit/#{message.user.avatar.filename}", transformation: { width: 64, height: 64, crop: 'fit' } ) %>
			<% else %>
				<%= cl_image_tag("sample.jpg", transformation: { width: 64, height: 64, crop: 'fit' } )%>
			<% end %>
		</div>
		<div class="media-body">

			<h4 class="media-heading"><%= message.user.username %></h4>
			<p><%= message.content %></p>
			<a href="#" class="show-replies-container">See Replies</a>
			<a href="#" class="show-reply-form">Reply</a>

			<div class="replies-form hidden">
				<%= form_tag message_replies_path(message), method: :post, remote: true do  %>
					<div class="input-group">
						<%= text_field_tag :content, nil, class: 'form-control', placeholder: 'Enter your reply here' %>
						<span class="input-group-btn">
							<%= submit_tag "Send Reply", class: 'btn btn-primary' %>
						</span>
					</div>
				<% end %>
			</div>
			<div class="replies-container hidden">
				<% if message.replies.any? %>
					<% message.replies.order('created_at DESC').first(6).each do |reply| %>
						<%= render partial: 'partials/reply', locals: {reply: reply} %>
					<% end %>
					<%= link_to "See all replies", message_replies_path(message), class: 'see-all-replies' %>
				<% else %>
					<p class="no-replies">No replies yet. Be the first.</p>
				<% end %>
			</div>
		</div>
	</div>
</li>