<h3><%= @event.name %></h3>
<p><%= @event.start_time.strftime("Starts at: %H:%M") %></p>
<p>Info: <%= @event.info %></p>
<p>Organized by: <%= @event.organizer.email %></p>

<h4>Currently Attending</h4>
<% @event.attending.each do |user| %>
	<p><%= user.email %></p>
<% end %>

<div id="map" style="width: 570px; height: 380px"></div>
<script>
	$(document).on('turbolinks:load', function() {
		var lat = 10;
		var lng = 10;
		var position = {lng: 10, lat: 10}
		getPosition(function(pos) {
			position.lng = pos.long
			position.lat = pos.latt	
			loadMap(position.lat, position.lng);
		});
	});

	function getPosition(callback) {
		var geocoder = new google.maps.Geocoder();
		var postcode = "<%= @event.postcode %>";

		geocoder.geocode({'address': postcode}, function(results, status) {
			if (status == google.maps.GeocoderStatus.OK) {
				callback({
					latt: results[0].geometry.location.lat(),
					long: results[0].geometry.location.lng()
				});
			}
		});
	}

	function loadMap(lat,lng) {
		var mapOptions = {
			center: new google.maps.LatLng(lat, lng), zoom: 16,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};

		var map = new google.maps.Map(document.getElementById('map'), mapOptions)

		var marker = new google.maps.Marker({
	  	position: mapOptions.center,
	  	map: map
		});
	}
</script>