<h3><%= @event.name %></h3>
<p><%= @event.start_time.strftime("Starts at: %H:%M") %></p>
<p>Info: <%= @event.info %></p>
<p>Open/Closed: <%= @event.open_to_s %></p>
<p>Organized by: <%= @event.organizer.username %></p>

<h4>Currently Attending</h4>
<% @event.attending.each do |user| %>
	<p><%= user.username %></p>
<% end %>
<div id="map" style="width: 570px; height: 380px"></div>
<script>
	$(document).on('turbolinks:load', function() {
		loadMap(<%= @event.latitude %>, <%= @event.longitude %>);
	});

	function loadMap(lat,lng) {
		var mapOptions = {
			center: new google.maps.LatLng(lat, lng), zoom: 16,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};

		var map = new google.maps.Map(document.getElementById('map'), mapOptions)

		var marker = new google.maps.Marker({
	  	position: mapOptions.center,
	  	map: map
		});
	}
</script>