<h1>Events</h1>
<div class="row">
  <div class="col-md-6">
    <div class="event-list-options">
      <%= link_to "Display all events", user_events_path(requested_events: 'all' ), class: "update-calendar-link btn btn-primary update-calendar-btn #{ 'active' if params[:requested_events] == 'all'}", remote: true%> 
      <%= link_to "Display your events", user_events_path(requested_events: 'own' ), class: "update-calendar-link btn btn-primary update-calendar-btn #{ 'active' if params[:requested_events] == 'own'}", remote: true %> 
      <%= link_to "Display friends events", user_events_path(requested_events: 'friends'), class: "update-calendar-link btn btn-primary update-calendar-btn #{ 'active' if params[:requested_events] == 'friends'}", remote: true %> 
      <%= link_to "Display recommended events", user_events_path(requested_events: 'recommended'), class: "update-calendar-link btn btn-primary update-calendar-btn #{ 'active' if params[:requested_events] == 'recommended'}", remote: true %>
      <%= link_to "Display nearby events", user_events_path(requested_events: 'nearby'), id: 'nearby-events-link', class: "update-calendar-link btn btn-primary update-calendar-btn #{ 'active' if params[:requested_events] == 'nearby'}", remote: true %>
    </div>
    <div class="distance-options">   
      <%= form_tag root_path, class: 'distance-form', role: 'form' do %>
        <div class="form-group">
          <%= label_tag :distance, "5 miles" %>
          <%= radio_button_tag :distance, 5, class: 'distance-option'  %>
        </div>
        <div class="form-group">
          <%= label_tag :distance, "10 miles" %>
          <%= radio_button_tag  :distance, 10,  class: 'distance-option' %>   
        </div>
        <div class="form-group">
          <%= label_tag :distance, "15 miles" %>
          <%= radio_button_tag  :distance, 15,  class: 'distance-option'  %>
        </div>
        <div class="form-group">
          <%= label_tag :distance, "25+ miles" %>
          <%= radio_button_tag  :distance, 25, class: 'distance-option'  %>
        </div>
      <% end %>
    </div>
    <%= render partial: 'partials/events_list', locals: {events: @events} %> 
  </div>
  <div class="col-md-6">
    <h3 class="text-center">Create an Event</h3>  	  	
    <%= render partial: 'forms/new_event_form' %>
  </div>
</div>

