<nav>
	<ul class="nav nav-tabs">
		<li role="presentation" class="active" onclick="toggleClass(this);">
			<%= link_to "Your feed", get_page_path(page: 'feed'), id: 'feed-link', class: 'page-link', remote: true %>
		</li>
		<li role="presentation" onclick="toggleClass(this);">
			<%= link_to "Schedule", get_page_path(page: 'schedule'), id: 'schedule-link', class: 'page-link', remote: true %>
		</li>
		<li role="presentation" onclick="toggleClass(this);"">
			<%= link_to "Friends", get_page_path(page: 'friends'), id: 'friends-link', class: 'page-link', remote: true %>
		</li>
		<li role="presentation" onclick="toggleClass(this);">
			<%= link_to "Events", get_page_path(page: 'events'), id: 'events-link', class: 'page-link', remote: true %>
		</li>
	</ul>
</nav>

<div id="page-container">
	<%= render partial: 'pages/feed' %>
</div>

	
