<%= form_tag events_path, method: :post, id: "new-event-form" do %>
	<div class="form-group">
		<%= label_tag :name, "Name: " %>
		<%= text_field_tag :name, nil, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= label_tag :info, "Info: " %>
		<%= text_area_tag :info, nil, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= label_tag :start_time, "Start time: " %>
		<%= datetime_local_field_tag :start_time, nil, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= label_tag :postcode, "Postcode: " %>
		<%= text_field_tag :postcode, nil, class: 'form-control' %> 
	</div>

	<div class="form-group">
		<%= label_tag :open, "Open(anyone can join): ", value: true %>
		<%= radio_button_tag :open, true, checked: true, value: true %>
	</div>

	<div class="form-group">
		<%= label_tag :open, "Closed(only people you invite can join): ", value: false %>
		<%= radio_button_tag :open, false, calue: false %>
	</div>

	<div class="actions">
		<%= submit_tag "Create Event", class: "btn btn-primary" %>
	</div>

<% end %>