<%= form_tag invites_path, method: :post, class: 'invite-to-event-form' do %>
	<%= hidden_field_tag :event_id, @event.id %>
	<div class="form-group">
		<%= label_tag :email %>
		<%= text_field_tag :email, placeholder: "enter their email here", class: 'form-control' %>
	</div>

	<div class="actions">
		<%= submit_tag "Invite to Event", class: 'btn btn-primary' %>
	</div>
<% end %>