<%= form_for(:user, as: 'user', url: registration_path(:user), html: {id: "sign-up-form"}) do |f| %>
  <div class="form-group">
    <div class="input-group">
    <div class="input-group-addon">
      <span class="glyphicon glyphicon-envelope"></span>
    </div>
      <%= f.email_field :email, class: 'form-control', placeholder: "Email", autofocus: true %>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">
        <span class="glyphicon glyphicon-user"></span>
      </div>
      <%= f.text_field :username, class: 'form-control', placeholder: 'Username' %>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">
        <span class="glyphicon glyphicon-asterisk"></span>
      </div>
      <%= f.password_field :password, class: 'form-control', placeholder: "Password", autocomplete: "off" %>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">
        <span class="glyphicon glyphicon-asterisk"></span>
      </div>
      <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Password Confirmation", autocomplete: "off" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "btn btn-primary" %>
  </div>
<% end %>

