<!DOCTYPE html>
<html>
  <head>
    <title>Training</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Bitter|Raleway" rel="stylesheet">
    <script src = "https://maps.googleapis.com/maps/api/js?key=<%= escape_javascript(Rails.application.secrets.google_maps_api_key) %>"></script>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a href="<%= root_path %>" id="logo" class="navbar-brand">SOFIT</p>
          </div>        
          
            <ul class="nav navbar-nav navbar-right">
              <% if current_user %>
              <li role="presentation">
                <%= link_to "Profile", user_home_path %>
              </li>
              <% end %>
              <li role="presentation">
                <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          
        </div>
      </nav>
    </header>
    
    <div class="container-fluid">
      <% if flash[:notice] %>
      <p class="notice"><%= notice %></p>
      <% end %>
      <% if current_user %>
      <% end %>
      <%= yield %>
  </div>

  </body>
</html>
